image: node:20

stages:
  - deploy

pages:
  stage: deploy
  tags:
    - docker
  cache:
    paths:
      - node_modules/
  variables:
    VITE_CORS_PROXY: "https://gitlab-cors-proxy.farllee.workers.dev"
  script:
    - npm ci
    - npm run build:pages
    - mkdir -p public
    - cp -r dist-demos/* public/
  artifacts:
    paths:
      - public
  only:
    - main
