.wx-button.wx-TyZ1fHBj {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;

  padding-top: 7px;
}

.wx-primary.wx-TyZ1fHBj {
  color: var(--wx-color-primary-font);
  background-color: var(--wx-color-primary);
}

.wx-primary.wx-TyZ1fHBj:hover {
  background-color: var(--wx-color-primary-hover, #0b9db1);
}

.wx-transparent.wx-TyZ1fHBj {
  width: 40px;
  height: 40px;

  color: var(--wx-color-primary-font);
  background-color: color-mix(
    in srgb,
    var(--wx-color-text-primary, #636363) 45%,
    transparent
  );
}

.wx-transparent.wx-TyZ1fHBj:hover {
  background-color: color-mix(
    in srgb,
    var(--wx-color-text-secondary, #454545) 45%,
    transparent
  );
}

.wx-button-icon.wx-TyZ1fHBj {
  font-size: 20px;
  padding-top: 2px;
}
